# Object files
*.o
*.ko
*.obj
*.elf
obj

#Dependency files
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.lnk

# Debug files
*.dSYM/

#Project folders and files
nbproject
tests
.vscode
Data
Resources
main

*.png
*.jpg
*.zip
*.bat
